.applications-container {
    max-height: 358px; /* Adjust as needed */
    overflow-y: auto;
    padding: 0.5rem;
   /*border: 1px solid #d8dde6;*/
    border-radius: 0.5rem;
}

.slds-box {
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.1), 0 1px 5px 0 rgba(0,0,0,0.1);
}

.slds-m-bottom_small {
    margin-bottom: 0.5rem;
}

.slds-text-heading_medium {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}